.filters {
  @apply py-8  h-full relative mt-10;
  .container {
    @apply max-w-[1440px] mx-auto w-[90vw];
    .btns {
      @apply flex gap-5 S-250:overflow-x-scroll S-1000:overflow-hidden max-w-[900px];

      .catagory {
        clear: both;
        display: inline-block;
      
        white-space: nowrap;
        @apply border border-clr-yellow-normal py-1 px-4 text-white rounded-sm w-full;
      }

      .active {
        clear: both;
        display: inline-block;
      
        white-space: nowrap;
        @apply bg-clr-yellow-normal text-clr-black-normal py-1 px-4 rounded-sm w-full;
      }
    }

    .results {
      @apply grid S-1000:grid-cols-4 S-600:grid-cols-2 S-250:grid-cols-2 mt-8 S-250:gap-4 S-600:gap-0;

      .cards {
        @apply flex S-250:flex-col S-600:flex-row S-250:items-start  mb-8 S-600:gap-1 S-366:gap-0;

        .image {
          @apply w-[120px] h-[120px];
        }

        .contents {
          @apply w-full pt-3 S-250:flex S-600:block  items-start S-250:pl-4 S-600:pl-0 flex-col;

          .title {
            @apply text-white capitalize S-600:text-lg S-250:text-base font-semibold;
          }

          .paragraph {
            @apply text-white font-light pt-2;
          }

          .icons {
            @apply flex gap-4 pt-3 flex-wrap pr-4;

            .icon {
              @apply bg-white rounded-full w-[25px] h-[25px] p-1;
            }
          }
        }
      }
    }
  }
}
